* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

/* HEADER */

.top-header {
  height: 110px;
  border-bottom: 1px solid #333;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header h1 {
  font-size: 40px;
  font-weight: 800;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.clock {
  font-size: 18px;
  color: #dddddd;
}

.theme-toggle {
  background-color: #111111;
  color: white;

  border: 1px solid #444;

  border-radius: 30px;

  padding: 10px 16px;

  cursor: pointer;

  transition: 0.3s;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* LAYOUT */

.layout {
  display: grid;
  grid-template-columns: 290px 1fr;

  min-height: calc(100vh - 110px);
}

/* SIDEBAR */

.sidebar {
  border-right: 1px solid #333;

  padding: 50px 30px;
}

.profile {
  display: flex;
  justify-content: center;

  margin-bottom: 45px;
}

.profile-img {
  width: 170px;
  height: 170px;

  border-radius: 50%;

  background-color: #222;

  border: 1px solid #444;
}

.menu {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.menu a {
  color: white;

  text-decoration: none;

  padding: 18px 22px;

  border-radius: 10px;

  font-size: 20px;
  font-weight: 600;

  display: flex;
  align-items: center;

  gap: 18px;

  transition: 0.3s;
}

.menu a span {
  font-size: 28px;
}

/* 현재 페이지 */

.menu a.active {
  background-color: #1f1f1f;
  color: #4da3ff;
}

/* hover */

.menu a:hover {
  background-color: #1f1f1f;
  color: #4da3ff;
}

/* CONTENT */

.content {
  padding: 40px;
}

.posts-section h2 {
  font-size: 38px;

  margin-bottom: 30px;

  padding-bottom: 20px;

  border-bottom: 1px solid #333;
}

/* POST CARD */

.post-card {
  background-color: #1b1b1b;

  border: 1px solid #222;

  border-radius: 12px;

  padding: 35px;

  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;

  transition: 0.3s;
}

.post-card:hover {
  transform: translateY(-5px);

  background-color: #222;
}

.post-card h3 {
  font-size: 28px;

  margin-bottom: 18px;
}

.post-card p {
  color: #cccccc;

  line-height: 1.7;

  font-size: 18px;
}

.date {
  color: #aaaaaa;

  white-space: nowrap;
}

/* PAGINATION */

.pagination {
  display: flex;

  margin-top: 35px;
}

.pagination button {
  width: 70px;
  height: 52px;

  background-color: #111;

  color: white;

  border: 1px solid #444;

  font-size: 20px;

  cursor: pointer;

  transition: 0.3s;
}

.pagination button:hover {
  background-color: #222;
}

.pagination .active-page {
  background-color: #333;
}

/* LIGHT MODE */

body.light {
  background-color: #f5f5f5;
  color: #111111;
}

/* HEADER */

body.light .top-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #999999;
}

/* SIDEBAR */

body.light .sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #999999;
}

/* CLOCK */

body.light .clock {
  color: #111111;
}

/* ICON */

body.light .header-right a {
  color: #111111;
}

/* TOGGLE */

body.light .theme-toggle {
  background-color: white;
  color: black;

  border: 1px solid #999999;
}

/* MENU */

body.light .menu a {
  color: #111111;
}

/* 현재 페이지 */

body.light .menu a.active {
  background-color: #ffffff;

  color: #3b82f6;

  font-weight: 800;
}

/* hover */

body.light .menu a:hover {
  background-color: #ffffff;

  color: #3b82f6;
}

/* POSTS */

body.light .posts-section h2 {
  color: #111111;

  border-bottom: 1px solid #999999;
}

body.light .post-card {
  background-color: white;

  color: #111111;

  border: 1px solid #999999;
}

body.light .post-card p {
  color: #333333;
}

body.light .date {
  color: #111111;
}

/* PAGINATION */

body.light .pagination button {
  background-color: #ffffff;

  color: #111111;

  border: 1px solid #999999;
}

body.light .pagination button:hover {
  background-color: #e5e5e5;
}

body.light .pagination .active-page {
  background-color: #111111;

  color: white;
}
